.main-footer{
    margin-top: 3rem;
    min-height: 10rem;
    background-color: black;

    .footer-text{
        margin-top: 90px;
        color: white;
        text-align: left;
    }

    .footer-name{
        margin-top: 50px;
        color: white;
        text-align: center;
        text-transform: uppercase;
    }
}