.main-page-banner{    
    height: 305px;
    background-color: white;    
    margin-top: 5rem;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    display: flex;
    justify-content: end;

    .banner-text-container{
        background-color: rgba(0, 0, 0, 0.384);
        width: 100vw;
        padding: 1rem;

        &:hover{
            background-color: rgba(0, 0, 0, 0.233);
            transition: 1s;
            border-bottom: 1px solid white;
        }

        h3{
            font-size: 2.5rem;
            align-items: center;
            text-align: center;
            color: white;
            margin-top: 5rem;
        }

        p{
            text-align: justify;
            color: white;
        }

    }

}