$primary: #67595E;
$secondary: #ffffff;
$third: #1c1b29;
$fourth: #E8B4B8;
$gradient1: #6253e1;
$gradient2: #852D91;
$gradient3: #37c049;

.main-page-header{   
    background-image: linear-gradient(to left, $third,$primary,$third);
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 5rem;
    z-index: 1;

    position: fixed;
    top: 0;
    width: 100%;

    .logo{
        text-decoration: none;
        color: rgb(255, 255, 255);
        font-family: sans-serif;
        font-size: 1.3rem;
        padding: 1rem;


        .logoimg{
            height: 50px;
        }
    }

    .hamburger{
        color: #ffffff;
        padding: 1.6rem;
        opacity: 1;
        position: absolute;
        right: 0px;
        font-size: 2rem;
        
    }

    .hamburger:hover{
        color:  $third;
        -webkit-transition: 0.5s ease-in-out;
        transition: 0.5s ease-in-out;
    }

    .navigation-container{
        display: none;
        margin-right: 0px;
    }

    .main-navigation{
        display: flex;
        flex-direction: row;
       

        .main-navigation__link{
            padding: 1rem;
            color: rgb(255, 255, 255);
            font-family: sans-serif;
            
        }
        .main-navigation__link:hover{
            color:  $third;
            padding-top: 2.2rem;
            padding-bottom: 2.15rem;
            font-family: sans-serif;
            
        }
    }

    /*
        Tablet og oppover
    */
    @media  screen and (min-width: 768px) {




        .hamburger{
            display: none;
            
        }
        .navigation-container{
            display: block;
            
        }
    }

    @media screen and(max-width:360px){
        .navigation-container{
            display: none;
        }

        .hamburger{
            display: block;
        }
    }
}