@use 'meyers-reset-modified';

.main-footer{
    min-height: 12rem;
    background-color: black;

    .footer-text{
        margin: 1rem;
        color: white;
        text-align: left;
    }

    .footer-name{
        margin-top: 70px;
        color: white;
        text-align: center;
        text-transform: uppercase;
    }
}