@use 'meyers-reset-modified';


.main-footer{

    
    .footer-text{
        padding: 2rem;
        color: white;
        text-align: left;
    }

    .footer-name{
        padding-bottom: 2rem;
        color: white;
        text-align: center;
        text-transform: uppercase;
        font-size: x-large;
    }
}