@use "meyers-reset-modified";

$primary: #67595E;
$secondary: #ffffff;
$third: #1c1b29;
$fourth: #E8B4B8;
$gradient1: #6253e1;
$gradient2: #852D91;
$gradient3: #37c049;

h2{
    margin-top: 2rem;
    color: $secondary;
    font-size:xx-large;
    font-weight: bold;
    margin-left: 2rem;

    &:hover{
        transform: scale(1.03);
    }
}

body{
    background-image: linear-gradient(to left, $third,$primary,$third);
}

.cards{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(320px,1fr));
    padding: 20px;
    grid-gap: 40px;
}
.card{
    background-image: linear-gradient($secondary,$gradient2);
    border-radius: 30px 20px;
    box-shadow: 1px 1px rgba(0,0,0,0.78);

    &:hover{
        background-image: linear-gradient( $gradient3, #6253e1, #852D91, $gradient3);
        box-shadow: 2px 2px rgba(255, 255, 255, 0.808);
        transition: 0.5s ease-in-out;
    }
}
.container{
    position: relative;
    clip-path: polygon(0 0, 100% 0, 140% 130%, 0 85%, 0 0);
}
.mainImg{
    width: 100%;
    display: block;
    border-radius: 30px 20px 0 0;
}

.details{
    padding: 20px 10px;

    h3{
    color: #ffffff;
    font-weight: 700;
    font-size: 25px;
    margin-bottom: 10px;
    }

    p{
    color: #ffffff;
    font-size: 15px;
    line-height: 30px;
    font-weight: 400;
    }

    .buttonDiv{
        text-align: center;
        

        .button{
            width: 200px;
            font-size: 15px;
            color: rgb(255, 255, 255);
            cursor: pointer;
            height: 50px;
            background-image: linear-gradient(to right, $third, $gradient2, $gradient2, $third);
            box-shadow: 0 0 10px 0 rgba(23, 1, 32, 0.75);
            text-transform: uppercase;

            border-radius: 40px;
            -webkit-transition: 0.5s ease-in-out;
            transition: 0.5s ease-in-out;

            &:hover{
                background-image: linear-gradient(to left, $gradient1, $gradient3);
                box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.952);
                transition: 0.5s ease-in-out;
            }
        }
    }
}