

@use "meyers-reset-modified";

$primary: #67595E;
$secondary: #ffffff;
$third: #1c1b29;
$fourth: #E8B4B8;
$gradient1: #6253e1;
$gradient2: #852D91;
$gradient3: #37c049;

.containerShopping{

    margin-left: 0rem;

    h1{
        margin-top: 150px;
        margin-bottom: 100px;

        &:hover{
            transform: scale(1.05);
        }
    }

    /* Trengte litt margin til footeren, midlkertidig løsning */
   /* .cartProduct{
        display: flex;
        margin-top: 2rem;
        border-radius: 0 25px 25px 0;
    }*/


    
}

footer{
    margin-top: 5rem;
}

@media screen and (max-width: 927px){
    .cart{
        flex-direction: column;
    }
}

@media screen and (max-width: 767px){
    .remove{
        display: none;
    }

    .cartProduct{
        width: 100vw;
        
    }

    .productTrash{
        width: 10px;
        padding: 10px 10px;
    }

    

    

}