

@use "meyers-reset-modified";

$primary: #67595E;
$secondary: #ffffff;
$third: #1c1b29;
$fourth: #E8B4B8;
$gradient1: #6253e1;
$gradient2: #852D91;
$gradient3: #37c049;

.containerShopping{

    margin-left: 2rem;

    h1{
        margin-top: 200px;
        margin-bottom: 100px;

        &:hover{
            transform: scale(1.05);
        }
    }

    /* Trengte litt margin til footeren, midlkertidig løsning */
   /* .cartProduct{
        display: flex;
        margin-top: 2rem;
        border-radius: 0 25px 25px 0;
    }*/


    .cart{
        display: flex;
        margin: 2rem;
        width: 20%;

        .cartProducts{
            flex: 0.75;
            
        }

        .cartProduct{
            display: flex;
            width: 600px;
            height: 200px;
            overflow: hidden;
            border: 1px solid white;
            margin-bottom: 0.5rem;
            border-radius: 0 15px 15px 0;

            &:hover{
                border: 2px solid white;
                transform: scale(1.01);
            }

            .productImg{
                width: 300px;
                height: 200px;
                border-right: 1px solid white;
            }

            .productDesc{
                padding: 20px;
                color: white;
                padding: 2rem;
                width: 100%;

                .productName{
                    font-size: x-large;
                    margin-bottom: 1rem;
                }

                .productPrice{
                    margin-bottom: 1rem;
                }

                .productTrash{
                    margin-left: 7rem;
                    width: 80px;
                    position: relative;
                    padding: 10px 25px;
                    background-color: #1c1b29;
                    color: white;
                    cursor: pointer;
                    border-radius: 5px;
                    font-size: small;


                    &:hover{
                        color:#1c1b29;
                        background-color: red;
                        font-weight: 600;
                        border: 1px solid gainsboro;
                        transition: 1s;
                    }
                }

                .productQuantity{
                    font-size: larger;

                    input{
                        margin-bottom: 1rem;
                        width: 40px;
                        padding: 5px;
                        text-align: center;
                        border-radius: 13px;
                        background-color: #ffffff44;
                        border-style:groove;

                        &:hover{
                            background-color: #beaaaabe;
                            transition: 1s;
                        }

                    }
                }
            }
        }
    }

    .cartPrice{
        flex:0.25;
        margin-left: 20px;
        padding: 40px;
        height: 120px;
        border: 1px solid white;
        border-radius: 10px 0 0 10px;
        

        &:hover{
            transform: scale(1.02);
            border: 2px solid white;
        }

        p{
            margin-bottom: 15px;
            color: white;
            font-size: x-large;
            display: flex;
            justify-content: left;
        }

        .price{
            border-radius: 20px;
            justify-content: center;
            padding: 10px 25px;
            background-color:#1c1b29;
            color: white;

            &:hover{
                background-color:$gradient3;
                color: black;
                border: 1px solid white;
                transition: 1s;
            }
        }
    }
}

footer{
    margin-top: 5rem;
}

@media screen and (max-width: 927px){
    .cart{
        flex-direction: column;
    }
}

@media screen and (max-width: 700px){
    .remove{
        display: none;
    }

    .cartProduct{
        width: 400px;
    }

    .productTrash{
        width: 10px;
        padding: 10px 10px;
    }
}