/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

nav ol, nav ul {
  list-style: none;
}

nav a {
  text-decoration: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.main-page-banner {
  height: 375px;
  background-color: white;
  margin-top: 5rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: end;
}
.main-page-banner .banner-text-container {
  background-color: rgba(250, 250, 250, 0.2);
  color: white;
  width: 100vw;
  padding: 1rem;
}
.main-page-banner .banner-text-container h3 {
  font-size: 2.5rem;
  align-items: center;
  text-align: center;
  color: black;
}
.main-page-banner .banner-text-container p {
  text-align: justify;
  color: black;
}

.main-footer .footer-text {
  padding: 2rem;
  color: white;
  text-align: left;
}
.main-footer .footer-name {
  padding-bottom: 2rem;
  color: white;
  text-align: center;
  text-transform: uppercase;
  font-size: x-large;
}

.main-page-header {
  background-image: linear-gradient(to left, #470433, #EED6D3, #470433);
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 5rem;
  z-index: 1;
  position: fixed;
  top: 0;
  width: 100%;
  /*
      Tablet og oppover
  */
}
.main-page-header .logo {
  text-decoration: none;
  color: #141414;
  font-family: sans-serif;
  font-size: 1.3rem;
  padding: 1rem;
}
.main-page-header .logo .logoimg {
  height: 50px;
}
.main-page-header .hamburger {
  padding: 1.6rem;
  opacity: 1;
  position: absolute;
  right: 0px;
  font-size: 2rem;
}
.main-page-header .hamburger:hover {
  color: #EED6D3;
  transition: 0.5s ease-in-out;
}
.main-page-header .navigation-container {
  display: none;
  margin-right: 0px;
}
.main-page-header .main-navigation {
  display: flex;
  flex-direction: row;
}
.main-page-header .main-navigation .main-navigation__link {
  padding: 1rem;
  color: #141414;
  font-family: sans-serif;
}
.main-page-header .main-navigation .main-navigation__link:hover {
  color: #EED6D3;
  padding-top: 2.2rem;
  padding-bottom: 2.15rem;
  font-family: sans-serif;
}
@media screen and (min-width: 768px) {
  .main-page-header .hamburger {
    display: none;
  }
  .main-page-header .navigation-container {
    display: block;
  }
}
@media screen and (max-width: 360px) {
  .main-page-header .navigation-container {
    display: none;
  }
  .main-page-header .hamburger {
    display: block;
  }
}

.products-container {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 1rem;
  max-height: -webkit-max-content;
  max-height: -moz-max-content;
  max-height: max-content;
}
.products-container .product {
  grid-column: auto/span 4;
}
.products-container .product .bg-image {
  height: 200px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  position: relative;
  overflow: hidden;
  transition: top 0.5s;
}
.products-container .product .bg-image:hover .recommended {
  top: 1rem;
  overflow: visible;
}
.products-container .product .bg-image .recommended {
  width: 70px;
  position: absolute;
  top: -3rem;
  right: 1rem;
  transition: 0.5s;
}
.products-container .product__title {
  background-color: rgba(1, 77, 11, 0.397);
  color: white;
  padding: 1rem;
  text-align: left;
  width: 100px;
}
.products-container .product p {
  background-color: rgba(1, 77, 11, 0.397);
  padding-left: 1rem;
  font-size: larger;
}
.products-container .product p i {
  color: rgba(1, 77, 11, 0.397);
}
.products-container .product p:hover i {
  color: rgba(23, 46, 31, 0.856);
}

body {
  background-image: linear-gradient(to left, #1c1b29, #67595E, #1c1b29);
  height: 140vh;
  display: grid;
  place-items: center center;
  font-family: sans-serif;
}

h1 {
  margin-top: 6rem;
  color: #ffffff;
  font-size: xx-large;
  font-weight: bold;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  padding: 20px;
  grid-gap: 40px;
}

.card {
  background-image: linear-gradient(#ffffff, #852D91);
  border-radius: 30px 20px;
  box-shadow: 1px 1px rgba(0, 0, 0, 0.78);
}
.card:hover {
  background-image: linear-gradient(#37c049, #6253e1, #852D91, #37c049);
  box-shadow: 1px 1px rgba(255, 255, 255, 0.808);
  transition: 0.5s ease-in-out;
}

.container {
  position: relative;
  -webkit-clip-path: polygon(100% 0%, 100% 0, 100% 140%, 0 70%, 0 0);
          clip-path: polygon(100% 0%, 100% 0, 100% 140%, 0 70%, 0 0);
}

.mainImg {
  width: 100%;
  display: block;
  border-radius: 30px 20px 0 0;
}

.details {
  padding: 20px 10px;
}
.details h3 {
  color: #ffffff;
  font-weight: 700;
  font-size: 25px;
  margin-bottom: 10px;
}
.details p {
  color: #ffffff;
  font-size: 15px;
  line-height: 30px;
  font-weight: 400;
}
.details .buttonDiv {
  text-align: center;
}
.details .buttonDiv .button {
  width: 200px;
  font-size: 15px;
  color: white;
  cursor: pointer;
  height: 50px;
  background-image: linear-gradient(to right, #1c1b29, #852D91, #852D91, #1c1b29);
  box-shadow: 0 0 10px 0 rgba(23, 1, 32, 0.75);
  text-transform: uppercase;
  border-radius: 40px;
  transition: 0.5s ease-in-out;
}
.details .buttonDiv .button:hover {
  background-image: linear-gradient(to left, #6253e1, #37c049);
  box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.952);
  transition: 0.5s ease-in-out;
}/*# sourceMappingURL=main.css.map */